body, html {
    background-color: #161313;
}
body{
    height:auto;
}

a{
    transition: 0.2s, color 0.2s;
}
a:hover,
a:focus {
    text-decoration: none;
}

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
    position: relative;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #222;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-brand {
    position: absolute;
    top: 0;
    width: 250px;
    text-align: center;
    padding: 20px 0;
}
.sidebar-brand h2 {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    color: #222;
}

.sidebar-nav {
    position: absolute;
    top: 75px;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav > li {
    text-indent: 10px;
    line-height: 42px;
}
.sidebar-nav > li a {
    display: block;
    text-decoration: none;
    color: #757575;
    font-weight: 600;
    font-size: 18px;
}
.sidebar-nav > li > a:hover,
.sidebar-nav > li.active > a {
    text-decoration: none;
    color: #222;
    background: #F8BE12;
}
.sidebar-nav > li > a i.fa {
    font-size: 24px;
    width: 60px;
}

#navbar-wrapper {
    width: 100%;
    position: absolute;
    z-index: 2;
}
#wrapper.toggled #navbar-wrapper {
    position: absolute;
    margin-right: -250px;
    width: 100%;
}
#navbar-wrapper .navbar {
    border-width: 0 0 0 0;
    background-color: #161313;
    font-size: 24px;
    margin-bottom: 0;
    border-radius: 0;
}
#navbar-wrapper .navbar a {
    color: #757575;
}
#navbar-wrapper .navbar a:hover {
    color: #F8BE12;
}

#content-wrapper {
    width: 50%;
    position: absolute;
    padding: 15px;
    top: 100px;
}
#wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
}

@media (min-width: 1201px) {
    #wrapper {
        padding-left: 250px;
    }
    
    #wrapper.toggled {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 250px;
    }
    
    #wrapper.toggled #sidebar-wrapper {
        width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -190px;
    }
    
    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -190px;
    }

    #wrapper.toggled {
        padding-left: 60px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: 60px;
    }
}
  
@media (min-width: 768px) and (max-width: 991px) {
    #wrapper {
        padding-left: 60px;
    }

    #sidebar-wrapper {
        width: 60px;
    }
    
    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }
    
    #wrapper.toggled #content-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}
  
@media (max-width: 767px) {
    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #navbar-wrapper {
        position: absolute;
        margin-right: -250px;
    }

    #wrapper.toggled #content-wrapper {
    position: absolute;
    margin-right: -250px;
    }

    #navbar-wrapper {
        position: relative;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }

    #content-wrapper {
        position: relative;
        top: 0;
    }

    #wrapper.toggled #navbar-wrapper,
    #wrapper.toggled #content-wrapper {
        position: relative;
        margin-right: 250px;
    }
}

.header-logo-img{
    position: absolute;
    margin-left: -2px;
    height: 35px;
}
.header-logo-text{
    position:relative;
    padding-top: 10px;
    padding-left: 40px;
    font-size:25px;
    color: rgb(122, 0, 0);
}
.welcome-background{
    position: absolute;
    width: 284px;
    height: 46px;
    left: 257px;
    top: 181px;
    background: #070707;
}
.welcome-text{
    position: absolute;
    left: 270px;
    top: 183px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #c70000;
}
.welcome-logo-text{
    position: absolute;
    color: #000000;
    font-size: 45px;
    font-weight: 600;
    top: 288px;
    left: 334px;
}
.welcome-logo-img{
    height: 85px;
    position: absolute;
    top: 270px;
    left: 260px;
}
.welcome-box{
    position: absolute;
    width: 5px;
    height: 53px;
    left: 256px;
    top: 369px;
    background: #860000;
}
.welcome-dev-text{
    position: absolute;
    width: 346px;
    height: 39px;
    left: 269px;
    top: 376px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #470000;
}
.welcome-img{
    position: absolute;
    padding-left: 740px;
    margin-top: 86px;
}
@media (min-width: 838px) and (max-width: 1086px){
    .aboutme-title{
        padding-left: 50px !important;
    }
    .aboutme-text{
        margin-left: -566px !important;
    }
    .aboutme-img{
        margin-top: 10px !important;
        margin-left: -40px !important;
    }
    .aboutme-text1-box{
        margin-left: -566px !important;
    }
}
@media (min-width:500px) and (max-width: 838px){
    .aboutme{
        margin-top: 654px !important;
        margin-left: 230px !important;
    }
    .aboutme-title{
        padding-left: 50px !important;
    }
    .aboutme-text{
        margin-left: -566px !important;
    }
    .aboutme-img{
        margin-top: 10px !important;
        margin-left: -40px !important;
    }
    .aboutme-text1-box{
        margin-left: -566px !important;
    }
    .footer{
        display: none;
    }
}
@media (max-width: 500px){
    .aboutme{
        margin-top: 654px !important;
        margin-left: 230px !important;
    }
    .aboutme-title {
        position: absolute;
        margin-top: -38px !important;
        margin-left: -482px !important;
    }
    .aboutme-text {
        width: 781px;
        margin-left: -628px !important;
    }
    .aboutme-img {
        height:300px !important;
        margin-top: 23px !important;
        margin-left: -200px !important;
    }
    .aboutme-text1-box {
        width: 781px;
        margin-left: -628px !important;
    }
    .footer{
        display: none;
    }
}
@media (min-width: 578px) and (max-width: 1024px){
    .welcome-background{
        position: absolute;
        width: 284px;
        height: 46px;
        left: 147px;
        top: 181px;
    }
    .welcome-text{
        position: absolute;
        left: 168px;
        top: 183px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 39px;
        color: #c70000;
    }
    .welcome-logo-text{
        position: absolute;
        color: #000000;
        font-size: 45px;
        font-weight: 600;
        top: 288px;
        left: 202px;
    }
    .welcome-logo-img{
        height: 85px;
        position: absolute;
        top: 270px;
        left: 126px;
    }
    .welcome-box{
        position: absolute;
        width: 5px;
        height: 53px;
        left: 148px;
        top: 369px;
        background: #860000;
    }
    .welcome-dev-text{
        position: absolute;
        width: 346px;
        height: 39px;
        left: 159px;
        top: 376px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #470000;
    }
    .welcome-img{
        position: absolute;
        height:350px;
        padding-left: 507px;
        padding-top: 0px;
    }
}
@media (max-width: 578px){
    .welcome-background {
        position: absolute;
        width: 232px;
        height: 33px;
        left: 50px;
        top: 188px;
    }
    .welcome-text {
        position: absolute;
        left: 71px;
        top: 183px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 39px;
        color: #c70000;
    }
    .welcome-logo-img {
        height: 85px;
        position: absolute;
        top: 275px;
        left: 51px;
    }
    .welcome-logo-text {
        position: absolute;
        color: #000000;
        font-size: 30px;
        font-weight: 600;
        top: 296px;
        left: 105px;
    }
    .welcome-box {
        position: absolute;
        width: 5px;
        height: 53px;
        left: 51px;
        top: 369px;
        background: #860000;
    }
    .welcome-dev-text {
        position: absolute;
        width: 346px;
        height: 39px;
        left: 62px;
        top: 376px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 39px;
        color: #470000;
    }
    .welcome-img {
        position: absolute;
        height: 247px;
        padding-left: 52px;
        margin-top: 384px;
    }
}
.aboutme{
    position: absolute;
    width: auto;
    height: auto;
    margin-top: 560px;
    margin-left: 250px;
}
.aboutme-title{
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #470000;
    padding-left: 400px;
}
.aboutme-text{
    padding-left: 405px;
    font-size: 25px;
    font-weight: 500;
    color: #EC4B4B;
}
.aboutme-text1-box{
    position: relative;
    max-width: 1093px;
    padding-left: 404px;
}
.aboutme-text1{
    font-size: 25px;
    color: red;
}
.aboutme-img{
    height: 465px;
    margin-top: -240px;
    margin-left: 50px;
    box-shadow: -9px 9px 10px 0px rgb(207 0 0 / 76%);
}
.footer{
    position: absolute;
    right: 0;
    top: 1990px;
    left: 0;
    padding: 1rem;
    background-color: #610000;
}
.footer-copy{
    color: #000;
    font-weight: bold;
    padding-left: 256px;
}
.footer-contact{
    font-weight: bolder;
    color:rgb(26, 0, 0);
    padding-left: 50px;
}
.footer-icon{
    color:rgb(255, 0, 0);
    text-decoration: none;
    padding-left: 5px;
}


.content {
    padding: 20px 30px;
    background-color: rgb(70, 0, 0);
    position: relative;
    border-radius: 6px;
}

#contact {
    width: 100%;
    height: 100%;
    background-color: rgb(51, 0, 0);
}

.section-header {
    text-align: center;
    margin: 0 auto;
    padding: 67px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 840px;
}


.form-horizontal {
    max-width: 400px;
    font-family: 'Lato';
    font-weight: 400;
}

.form-control, 
textarea {
    max-width: 400px;
    background-color: rgb(65, 0, 0);
    color: #fff;
    letter-spacing: 1px;
}

.send-button {
    margin-top: 15px;
    height: 34px;
    width: 400px;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.alt-send-button {
    width: 400px;
    height: 34px;
    transition: all .2s ease-in-out;
}

.send-text {
    display: block;
    margin-top: 10px;
    font: 700 12px 'Lato', sans-serif;
    letter-spacing: 2px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}


.direct-contact-container {
    max-width: 400px;
}


.contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
}

.list-item {
    line-height: 4;
    color: #aaa;
}

.contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
}

.place {
    margin-left: 62px;
}

.phone {
    margin-left: 56px;
}

.gmail {
    margin-left: 53px;
}

.contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
}

.contact-text a:hover {
    color: #fff;
    text-decoration: none;
}


.social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.social-media-list li a {
    color: #fff;
}

.social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
}

.social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
}

.social-media-list li:hover {
    background-color: #fff; 
}

.social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
    color: #000;
}

.copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #555;
    letter-spacing: 1px;
    text-align: center;
}

hr {
    border-color: rgba(255,255,255,.6);
}

@media screen and (max-width: 850px) {
    .contact-wrapper {
        display: flex;
        flex-direction: column;
    }
    .direct-contact-container, .form-horizontal {
        margin: 0 auto;
    }  
    
    .direct-contact-container {
        margin-top: 60px;
        max-width: 300px;
    }    
    .social-media-list li {
        height: 60px;
        width: 60px;
        line-height: 60px;
    }
    .social-media-list li:after {
        width: 60px;
        height: 60px;
        line-height: 60px;
    }
}

@media screen and (max-width: 569px) {

    .direct-contact-container, .form-wrapper {
        float: none;
        margin: 0 auto;
    }  
    .form-control, textarea {
    
        margin: 0 auto;
    }

    
    .name, .email, textarea {
        width: 280px;
    } 
    
    .direct-contact-container {
        margin-top: 60px;
        max-width: 280px;
    }  
    .social-media-list {
        left: 0;
    }
    .social-media-list li {
        height: 55px;
        width: 55px;
        line-height: 55px;
        font-size: 2rem;
    }
    .social-media-list li:after {
        width: 55px;
        height: 55px;
        line-height: 55px;
    }
    
}

@media screen and (max-width: 410px) {
    .send-button {
        width: 99%;
    }
}